<mat-card class="card">
<img src="/assets/images/landingPageImage.png" alt="no image">
<div class="right-side-container">
<div class="description-text">
    <h1>Find the lyrics to yur favourite songs</h1>
    <p>LyricsFinder is a huge collection of song lyrics, album information and featured video clips for a seemingly endless array of artists — collaboratively assembled by our large music community and contributing editors.
      Get started and browse our lyrics and artists database. </p>
</div>
<button
(click)="goLyricsFinder()"
 mat-raised-button>
    Find Lyrics
</button>
</div>
</mat-card>